@page
@model Motorcycle.Pages.MainPages.MotorcycleModel
@{
}

<h1>Motorcycles</h1>

<div class="motorcycle-container">
    @foreach (var item in Model.Motorcycles)
    {
        <div class="motorcycle">
            <img src="@item.Image" alt="Motorcycle Image" class="motorcycle-img" />
            <div class="item-name">@item.Model</div>
        </div>
    }
</div>
